@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  body {
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

/* Custom Scrollbar for better UI feel */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  /* gray-300 */
  border-radius: 9999px;
  border: 4px solid white;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af;
  /* gray-400 */
}